*.iml
.gradle
.gradle-user-home/
/app/google-services.json
/firebase-service-account*.json
/service-account*.json
/tools/firebase/service-account*.json
/tools/firebase/firebase-service-account*.json
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
